$textColor: #130f40;
$hoverTextColor: #fff;
$addTaskBackground: #c8d6e5;
$showListBackground: #c7ecee;
$doneListBackground: #2ecc71;
$showListHeader: #25ccf7;
$doneListHeader: #9b59b6;
$hoverColor: #ff3838;
$addBtnColor: #6c5ce7;
$clearBtnColor: #ff7675;
