// imports for general design
@import "./../../css/variables.scss";
@import "./../../css/basics.scss";
@import "./../../css/mixins.scss";

.add-todo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $addTaskBackground;
  width: 100%;
  .input-text {
    height: 30px;
    min-width: 350px;
  }
}
.buttons-container {
  display: flex;
  .clear-button,
  .add-button {
    height: 35px;
    width: 35px;
    margin: 10px;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px #999;
    // transform: translateY(4px);
  }
  .add-button:hover {
    background-color: $doneListBackground;
  }
  .clear-button:hover {
    background-color: $hoverColor;
  }
  .add-icon,
  .clear-icon {
    font-size: 12px;
    color: $hoverTextColor;
  }
  .add-button {
    background-color: $addBtnColor;
  }
  .clear-button {
    background-color: $clearBtnColor;
  }
}
